@import '../../variables.scss';
@import "../../mixins.scss";

label {
    width: 100%;
    display: block;
    margin: 0 0 10px 0;
    position: relative;
    .input_name {
        position: absolute;
        top: -9px;
        left: 10px;
        font-size: 14px;
        line-height: 20px;
        color: $grey;
        background-color: white;
         
        padding: 0 5px;       
    }
}

input,textarea {
    width: 100%;
    height: 40px;
    line-height: 36px;
    font-size: 16px;
    padding: 0 10px;
    border: 2px solid $grey;
    color: $grey;
    border-radius: 4px;
    user-select: text;
}

textarea{
    height: 100%;
    max-height: 80px;
    font-family: Roboto, sans-serif;
}