@import '../../variables.scss';
@import "../../mixins.scss";

$top_height: 250px;

.dashboard_top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: $top_height;
    .bg_loader {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $blue_b;
    }
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        object-fit: cover;
        z-index: 2;
    }
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 3;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.4);
            z-index: 4;
        }
    }
    .main {
        position: absolute;
        top: 60px;
        left: 0;
        bottom: 0;
        width: 65%;
        padding: 10px 5px 5px 5px;
        z-index: 4;
        border-bottom: 4px solid white;
        .name {
            font-size: 18px;
            color: white;
            font-family: Lobster, sans-serif;
            margin: 0 10px 5px 0;
            width: calc(100% - 50px);
            text-align: center;
            padding: 0 45px 0 10px;
            height: 40px;
            line-height: 40px;
            position: relative;
            background-color: rgba(255, 255, 255, 0.2);
            border-radius: 4px;
            transition: 0.3s;
            cursor: pointer;
            .text {
                width: 100%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            .icon {
                @include icon;
                position: absolute;
                top: 0;
                right: 0;
                color: white;
            }
            .drop_down {
                position: absolute;
                top: calc(100% + 5px);
                left: 0;
                right: 0;
                background-color: rgba(255, 255, 255, 0.4);
                border-radius: 4px;
                transition: 0.3s;
                padding: 5px 5px 0 5px;
                opacity: 0;
                visibility: hidden;
                pointer-events: unset;
                box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
                .project_item {
                    @include button;
                    width: 100%;
                    right: 0;
                    background-color: white;
                    margin: 0 0 5px 0;
                    .single_chart {
                        margin-top: 5px;
                        margin-right: 5px;
                    }
                }
            }
            &:hover {
                background-color: rgba(255, 255, 255, 0.3);
            }
            &.disabled {
                pointer-events: none;
                opacity: 0.5;
            }
            &:focus {
                .drop_down {
                    opacity: 1;
                    visibility: visible;
                    pointer-events: unset;
                }
            }
        }
        .add {
            @include icon_button;
            background-color: rgba(255, 255, 255, 0.2);
            border-radius: 40px;
            &:hover {
                background-color: rgba(255, 255, 255, 0.3);
            }
        }
        .desc {
            font-size: 14px;
            color: white;
            margin: 0;
            padding: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 6;
            -webkit-box-orient: vertical;
            height: calc(100% - 60px);
        }
    }
    .secondary {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 35%;
        padding: 15px 5px 5px 5px;
        z-index: 4;
        background-color: rgba(0, 0, 0, 0.2);
        .clock {
            display: block;
            color: white;
            font-size: 26px;
            text-align: center;
            width: 100%;
            margin: 0 0 20px 0;
        }
        .isCompleted {
            display: block;
            color: white;
            font-size: 16px;
            text-align: center;
            width: 100%;
            margin: 15px 0 0 0;
        }
    }
}

.dashboard_content {
    width: 100%;
    padding-top: calc($top_height - 60px);
    .project_item {
        @include button;
        width: 100%;
        font-size: 20px;
        padding: 0 10px 5px 5px;
        height: 50px;
        line-height: 50px;
        background-color: transparent;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 0;
        span {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: calc(100% - 60px);
        }
        &:nth-last-child(2) {
            border-bottom: 0;
        }
        .single_chart {
            margin-top: 10px;
            margin-right: 5px;
            margin-left: 5px;
        }
    }
}

.dashboard_options_box {
    position: fixed;
    justify-content: flex-end;
    right: 0;
    bottom: 20px;
    width: 100%;
    height: 50px;
    padding: 0 20px;
    display: flex;
    pointer-events: none;
    .dashboard_option_button {
        @include icon_button;
        position: fixed;
        width: 50px;
        height: 50px;
        background-color: $blue_b;
        border-radius: 100%;
        color: white;
        z-index: 8;
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
        margin: 0 0 0 15px;
        pointer-events: auto;
        &.small {
            background-color: $grey;
            width: 40px;
            height: 40px;
            right: 85px;
            bottom: 25px;
            margin: 5px 0 0 10px;
        }
    }
}