@import '../../variables.scss';
@import "../../mixins.scss";

$top_height: 250px;

.dashboard_top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: $top_height;
    border-bottom: 4px solid white;
    user-select: none;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        object-fit: cover;
        z-index: 2;
    }
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 3;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.4);
            z-index: 4;
        }
        &::after {
            content: "";
            position: absolute;
            top: 60px;
            left: 65%;
            bottom: 10px;
            width: 2px;
            background-color: rgba(0, 0, 0, 0.4);
            z-index: 5;
        }
    }
    .main {
        position: absolute;
        top: 60px;
        left: 0;
        bottom: 0;
        width: 65%;
        padding: 5px;
        z-index: 4;
        .name {
            font-size: 18px;
            color: white;
            font-family: Lobster, sans-serif;
            margin: 0 10px 5px 0;
            width: calc(100% - 50px);
            text-align: center;
            padding: 0 45px 0 0;
            height: 40px;
            line-height: 40px;
            position: relative;
            background-color: rgba(255, 255, 255, 0.2);
            border-radius: 4px;
            transition: 0.3s;
            position: relative;
            cursor: pointer;
            .icon {
                @include icon;
                position: absolute;
                top: 0;
                right: 0;
                color: white;
            }
            .drop_down {
                position: absolute;
                top: calc(100% + 5px);
                left: 0;
                right: 0;
                background-color: rgba(255, 255, 255, 0.4);
                border-radius: 4px;
                transition: 0.3s;
                padding: 5px 5px 0 5px;
                opacity: 0;
                visibility: hidden;
                pointer-events: unset;
                box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
                .project_item {
                    @include button;
                    width: 100%;
                    right: 0;
                    background-color: white;
                    margin: 0 0 5px 0;
                    .single_chart {
                        margin-top: 5px;
                        margin-right: 5px;
                    }
                }
            }
            &:hover {
                background-color: rgba(255, 255, 255, 0.3);
            }
            &.disabled {
                pointer-events: none;
                opacity: 0.5;
            }
            &:focus {
                .drop_down {
                    opacity: 1;
                    visibility: visible;
                    pointer-events: unset;
                }
            }
        }
        .add {
            @include icon_button;
            background-color: rgba(255, 255, 255, 0.2);
            border-radius: 40px;
            &:hover {
                background-color: rgba(255, 255, 255, 0.3);
            }
        }
        .desc {
            font-size: 14px;
            color: white;
            margin: 0;
            padding: 10px;
        }
    }
    .secondary {
        position: absolute;
        top: 60px;
        right: 0;
        bottom: 0;
        width: 35%;
        padding: 5px;
        z-index: 4;
        .completed {
            display: block;
            color: white;
            font-size: 16px;
            text-align: center;
            width: 100%;
            margin: 15px 0 0 0;
        }
    }
}

.dashboard_content {
    width: 100%;
    padding-top: calc($top_height - 60px);
    .project_item {
        @include button;
        width: 100%;
        font-size: 20px;
        padding: 0 10px 5px 5px;
        height: 50px;
        line-height: 50px;
        margin-bottom: 5px;
        background-color: white;
        .single_chart {
            margin-top: 10px;
            margin-right: 5px;
            margin-left: 5px;
        }
    }
    .add_project {
        @include icon_button;
        position: fixed;
        width: 50px;
        height: 50px;
        right: 20px;
        bottom: 20px;
        background-color: $blue_b;
        border-radius: 100%;
        color: white;
        z-index: 8;
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
    }
}