@import '../../variables.scss';
@import "../../mixins.scss";

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    width: 100%;
    height: 60px;
    padding: 10px 15px;
    
    display: flex;
    .icon {
        @include icon_button;
    }
}

.header_name {
    width: calc(100% - 80px);
    height: 40px;
    line-height: 40px;
    margin: 0;
    font-weight: normal;
    font-family: Lobster, serif;
    text-align: center;
    color: $grey_b_light;
    font-size: 20px;
    &.dashboard{
        margin-right: 35%;
    }
}