@import "../../variables.scss";
@import "../../mixins.scss";

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 200;
    background-color: transparent;
    backdrop-filter: blur(4px);
    opacity: 0;
    animation: modalFadeIn 0.5s 0.2s forwards;
    @keyframes modalFadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}

.modal_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 200;
}

.modal_underlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 10px 30px;
    text-align: center;
    z-index: 2;
    .modal_name, .modal_desc {
        color: $grey;
        font-weight: normal;
        font-size: 22px;
        margin: 0 0 20px 0;
    }
    .modal_desc {
        color: white;
        font-size: 18px;
    }
}

.modal_content_options {
    display: flex;
    justify-content: center;
    .modal_option {
        @include button;
        background-color: $blue_b;
        margin: 0 15px 0 0;
        min-width: 80px;
        text-align: center;
        display: block;
        font-size: 18px;
        &.cancel {
            background-color: $red;
        }
        &:last-child {
            margin: 0;
        }
    }
}