.single_chart {
    width: 100%;
    justify-content: space-around;
    .circular_chart {
        display: block;
        margin: 10px auto;
        max-width: 80%;
        max-height: 250px;
        stroke: white;
    }
    .circle_bg {
        fill: none;
        stroke: rgba(255, 255, 255, 0.2);
        stroke-width: 4;
    }
    .circle {
        fill: none;
        stroke-width: 2.5;
        animation: progress 1s ease-out forwards;
    }
    .chart_percentage {
        fill: #667;
        font-family: Roboto, sans-serif;
        font-size: 8px;
        text-anchor: middle;
        font-weight: normal;
    }
    @keyframes progress {
        0% {
            stroke-dasharray: 0 100;
        }
    }
    &.small {
        .circular_chart {
            margin: 0;
            max-width: 100%;
        }
        .circle_bg {
            stroke-width: 5;
        }
        .circle {
            stroke-width: 5;
        }
        .chart_percentage {
            font-size: 10px;
        }
    }
    &.dark {
        .circle_bg {
            stroke: rgba(1, 1, 1, 0.1);
        }
    }
}