@import "./variables.scss";
@import "./mixins.scss";

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto.ttf');
}

@font-face {
  font-family: 'Lobster';
  src: url('./assets/fonts/Lobster.ttf');
}

//Main
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: unset;
  overflow: hidden;
  background-color: transparent;
}

a {
  &:hover {
    text-decoration: unset;
  }
}

* {
  box-sizing: border-box;
  &::selection {
    color: white;
    background-color: $blue_b;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

//Loader
.loader {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid rgba($color: $sepia_light, $alpha: 0.3);
    border-top: 5px solid $sepia_light;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: block;
    animation: spin 2s ease-in-out infinite;
  }
  &.top {
    margin-top: 50px;
  }
  @keyframes spin {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// Layout
.layout_container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $main_dark
}