@import "./variables.scss";
@import "./mixins.scss";

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto.ttf');
}

@font-face {
  font-family: 'Lobster';
  src: url('./assets/fonts/Lobster.ttf');
}

//Main
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: unset;
  overflow: hidden;
  user-select: none;
  background-color: $main_dark;
}

a {
  &:hover {
    text-decoration: unset;
  }
}

* {
  box-sizing: border-box;
  &::selection {
    color: white;
    background-color: $blue_b;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// Loader
.loader {
  position: relative;
  margin: 15px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5px;
  width: 80px;
  border-radius: calc(5px / 2);
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.2;
  }
  &::after {
    content: '';
    height: 100%;
    width: 100%;
    border-radius: calc(5px / 2);
    animation: loader 1.4s ease-in-out infinite;
    transform: translateX(-100%);
    background-color: $grey;
  }
  &.small {
    width: 40px;
  }
}

@keyframes loader {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

// Layout
.layout_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.layout_wrapper_extra {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 11;
  background-color: $main_dark;
}

.layout_container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 70px 10px 10px 10px;
  background-color: $main_dark;
}

.layout_scroll_box {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  position: relative;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 0;
  }
}

.layout_name {

  width: 100%;
  text-align: center;
  font-weight: normal;
  font-family: Lobster, sans-serif;
  color: $grey_b;
  margin: 0 0 10px 0;
}

.layout_empty {

  width: 100%;
  text-align: center;
  color: $grey;
  margin: 0 0 10px 0;
}