@import './variables.scss';

@mixin button() {
    background-color: $grey;
    border-radius: 4px;
    color: white;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    padding: 0 10px;
    font-size: 16px;
    border: none;
    transition: 0.3s;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    span {
        margin: 0 10px 0 0;
    }
    .icon {
        margin: 0 -10px 0 auto;
    }
    &:active {
        transform: scale(0.9);
    }
    &:disabled{
        pointer-events: none;
        background-color: $grey_b !important;
        opacity: 0.3;
    }
}

@mixin icon {
    width: 40px;
    height: 40px;
    color: $grey_b_light;
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin icon_button {
    @include icon;
    transition: 0.1s;
    cursor: pointer;
    &:hover {
        color: white;
        transform: scale(0.8);
    }
}