//Main
$main_dark: #323A45;
$dark: #282e36;

$sepia_light: #a08e44;
$sepia_dark: #6b5c22;

$main_green_light: #5fc06a;
$main_green_dark: #255b2c;

//Colors
$yellow: #f7b731;
$yellow_light: #fed330;
$orange: #fa8231;
$orange_light: #fd9644;
$red: #eb3b3b;
$red_light: #fc5c5c;
$purple: #8854d0;
$purple_light: #a55eea;
$blue: #3867d6;
$blue_light: #4b7bec;
$blue_b: #2d98da;
$blue_b_light: #45aaf2;
$cyan: #0fb9b1;
$cyan_light: #2bcbba;
$green: #20bf6b;
$green_light: #26de81;
$grey: #4b6584;
$grey_light: #778ca3;
$grey_b: #a5b1c2;
$grey_b_light: #d1d8e0;