@import '../../variables.scss';
@import "../../mixins.scss";

.task_breadcrumbs {
    width: 100%;
    margin: 0 0 10px 0;
    .crumb {
        position: relative;
        display: inline-block;
        margin: 0 10px;
        height: 20px;
        line-height: 20px;
        color: $blue_b;
        &::after {
            content: ">";
            position: absolute;
            top: 0;
            right: -15px;
            height: 20px;
            line-height: 20px;
            color: $grey;
        }
        &.last {
            color: $grey_b;
            &::after {
                content: "";
            }
        }
    }
}

.task_desc {
    font-weight: normal;
    font-size: 16px;
    color: $grey_b;
    margin: 0 0 10px 0;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 98px;
    padding: 10px;
    border-radius: 4px;
    border: 2px solid $grey;
    &::-webkit-scrollbar {
        width: 0;
    }
}

.task_circle {
    width: 30%;
    margin: 0 auto 20px auto;
    display: flex;
    align-items: center;
    .minus, .plus {
        @include icon_button;
        &.disabled {
            opacity: 0.2;
            pointer-events: none;
        }
    }
    &.task {
        width: calc(30% + 80px);
    }
}

.task_count {
    color: $grey;
    text-align: center;
    margin: 0 0 10px 0;
    font-weight: normal;
}

.task_item {
    width: 100%;
    min-height: 70px;
    margin: 0 0 10px 0;
    display: flex;
    background-color: $dark;
    border-radius: 4px;
    overflow: hidden;
    .type, .percent, .options {
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        .icon {
            color: white !important;
            svg {
                pointer-events: none;
            }
            &.button {
                @include icon_button;
                color: white;
            }
        }
    }
    .options {
        .drop_down {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0;
            visibility: hidden;
            transition: 0.3s;
            background-color: white;
            border-radius: 4px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .icon_alt {
                @include icon_button;
                width: 35px;
                height: 35px;
                line-height: 35px;
                color: $dark;
                &:active {
                    color: $blue_b;
                }
                &:last-child {
                    &:active {
                        color: $red;
                    }
                }
            }
        }
        &:focus {
            .drop_down {
                visibility: visible;
                opacity: 1;
            }
        }
    }
    .name {
        @include button;
        background-color: transparent;
        width: calc(100% - 150px);
        height: auto;
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        p {
            width: 100%;
            line-height: 25px;
            margin: 0;
            // white-space: nowrap;
            // overflow: hidden;
            // text-overflow: ellipsis;
            &:last-child {
                position: relative;
                color: $grey;
                .icon {
                    position: absolute;
                    top: 2px;
                    right: 10px;
                    &.has_desc{
right: 30px;
                    }
                }
            }
        }
        &:active {
            transform: scale(1);
        }
    }
    &.isCompleted {
        .percent, .single_chart {
            .circular_chart {
                stroke: white !important;
            }
            .chart_percentage {
                fill: white !important;
            }
        }
        .options .icon {
            &:active {
                color: $dark;
            }
        }
    }
    &.isNotCompleted {
        background-color: $dark !important;
    }
    &.isDragging {
        background-color: lighten($color: $dark, $amount: 10) !important;
    }
    &.isLight {
        .name {
            p {
                &:last-child {
                    color: $grey_b;
                }
            }
        }
    }
}

.task_options_box {
    position: fixed;
    justify-content: flex-end;
    right: 0;
    bottom: 20px;
    width: 100%;
    height: 50px;
    padding: 0 20px;
    display: flex;
    pointer-events: none;
    .task_option_button {
        @include icon_button;
        width: 50px;
        height: 50px;
        background-color: $grey;
        border-radius: 100%;
        color: white;
        z-index: 8;
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
        margin: 0 0 0 15px;
        pointer-events: auto;
        &.small {
            width: 40px;
            height: 40px;
            right: 85px;
            bottom: 25px;
            margin: 5px 0 0 10px;
        }
    }
}

.task_end_line {
    width: 100%;
    height: 70px;
}